// //footer
#footer{
  h2{color:$primary-color;
  span{color:$white;   font-family:'Lora', serif; letter-spacing: 1px;}}
  padding:3rem 3rem 0;
  background-color: $dark-gray;
  a{font-family:'Montserrat', sans-serif;}
  .footer{
    font-size: 0.8rem;
    border-top: 4px solid $primary-color;
    margin-top:2rem;
    padding:1rem 0;
    .footer-left{li{margin-right: 0.5rem}}
    .footer-center{li{margin-left:0.5rem; a{color:$white;}}}
    .footer-right{li{margin-left: 0.5rem}}
  }
}
//
// //END footer
